@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#eye {
    position: absolute;
    right: 57px;
    padding-top: 3px;
    cursor: pointer;
}

#eye_daftar {
    position: absolute;
    top: 185px;
    left: 320px;
    cursor: pointer;
}

#eye_daftar_konfirmasi {
    position: absolute;
    cursor: pointer;
    left: 320px;
    top: 230px;
}

#eye_daftar2 {
    position: absolute;
    top: 178px;
    left: 350px;
    cursor: pointer;
}

#eye_daftar_konfirmasi2 {
    position: absolute;
    cursor: pointer;
    left: 350px;
    top: 223px;
}

body {
    line-height: 1;
    overflow: hidden;
}

.header .header-logo h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Genos", sans-serif;
}

ol,
ul {
    list-style: none;
}

img {
    width: 1560px;
    height: 100%;
}

.img-logo {
    height: auto !important;
}

.background {
    position: fixed;
    object-fit: cover;
    z-index: -10;
}


li {
    float: left;
}

.header-logo img {
    width: 100px;
    margin-top: 25px;
    margin-left: 30px;
}

.header {
    position: relative;
}

.header-logo img {
    margin-top: 5px;
    margin-left: 15px;
    position: absolute;
    width: 150px;

}


.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.wrapper .container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.container .whitebg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.container .whitebg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .whitebg .box.signup {
    color: #edf2f4;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.container .whitebg .box.signin {
    color: #edf2f4;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.container .whitebg .box .signinBtn {
    cursor: pointer;
    padding: 10px 20px;
    background: #edf2f4;
    color: #f78d1b;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 10px;
}

.container .whitebg .box .signupBtn {
    cursor: pointer;
    padding: 10px 20px;
    background: #edf2f4;
    color: #397a7f;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 10px;
}

.wrapper .formWx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #edf2f4;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(255, 255, 255, 0.15);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 20px;
}

.formWx.active {
    background: #edf2f4;
    left: 50%;
}

.wrapper .formWx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.wrapper .formWx .signinForm .check_box {
    position: relative;
    margin-left: -135px;
    display: inline-block;
}

.wrapper .formWx .signinForm .label_box {
    position: relative;
    display: inline-block;
    margin-top: -40px;
    margin-left: 40px;
}

.wrapper .formWx.active .signinForm {
    left: -100%;
    transition-delay: 0s;
}

.wrapper .formWx .signinForm {
    transition-delay: 0.25s;
}

.wrapper .formWx .signupForm {
    left: 100%;
    transition-delay: 0s;
}

.wrapper .formWx.active .signupForm {
    left: 0;
    transition-delay: 0.25s;
}

.wrapper .formWx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .formWx .form form input {
    height: 25px;
    border-radius: 5px;

}

.wrapper .formWx .form .submit {
    height: 35px;
    border-radius: 5px;
}

.wrapper .formWx .form.signupForm form h3 {
    font-size: 1.3em;
    color: #f78d1b;
    margin-bottom: 20px;
    font-weight: 500;
}

.wrapper .formWx .form.signinForm form h1 {
    color: #397a7f;
    margin-bottom: 15px;
}

.wrapper .formWx .form.signinForm form h3 {
    font-size: 1.3em;
    color: #397a7f;
    margin-bottom: 20px;
    font-weight: 500;
}

.wrapper .formWx .form form input:not([type=checkbox]) {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #f78d1b;
}

.wrapper .formWx .form.signinForm form .submit {
    background: #397a7f;
    border: none;
    color: #edf2f4;
    max-width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.wrapper .formWx .form.signupForm form .submit {
    background: #f78d1b;
    border: none;
    color: #edf2f4;
    max-width: 100%;
    cursor: pointer;
}

.checkboxDiv {
    display: flex;
    flex-direction: row;
    flex-basis: content;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.checkhboxDiv > input {
    width: min-content !important;
}

.checkboxDiv > .check_box,
.checkboxDiv > .label_box {
    padding: 0;
    margin: 0 !important;
}

.center-fpass-sign {
    text-align: center;
    margin-bottom: 10px;
}

#goSignInLabel {
    color: #397a7f;
}

#goSignUpLabel {
    color: #f78d1b;
}
.mobile-forgot {
    width: 30% !important;
}
@media screen and (max-width: 700px) {
    .mobile-forgot {
        width: 90% !important;
    }
}
@media screen and (max-width: 600px) {
    .mobile-forgot {
        width: 90% !important;
    }
}

@media screen and (max-width: 800px) {
    .mobile-forgot {
        width: 90% !important;
    }

    .wrapper .formWx {
        width: 100%;
    }

    .formWx.active {
        left: 0;
    }
}

@media screen and (min-width: 800px) {

    #goSignInLabel,
    #goSignUpLabel {
        display: none;
    }

    #or-fpass {
        display: none
    }

    .center-fpass-sign {
        margin-bottom: 0;
    }
}
